/* Estilos Globais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ruh1';
    src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
    font-family: 'Ruh1 Medium';
    src: url(./fonts/FrankRuhlLibre-Medium.ttf);
}

@font-face {
    font-family: 'Vibes';
    src: url(./fonts/GreatVibes-Regular.ttf);
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    --header1: calc(2rem + 1vh);
    --header2: calc(3.5rem + 1vh);
    --header3: calc(3rem + 1vh);
    --header4: calc(2.4rem + 1vh);
    --text: calc(1.5rem + 1vh);
    --big: calc(6rem + 1vh);
    --special-color: #906272;
    --background-color: #414141;
    --grey-text: #525252;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--header1);
    font-family: "Vibes", sans-serif;
}

li,
button,
label,
input,
p,
a {
    font-size: var(--text);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
    font-weight: normal;
}

h4, 
h5 {
    font-size: var(--header4);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Ruh1", sans-serif;
    animation: opening 1s ease-in-out;
}

/* Nav section */

.main-head {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    background-color: white;
    z-index: 200;
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    min-height: 10vh;
    padding: 2rem 0;
}

#logo {
    flex: 1 1 20rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.hero {
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-intro {
    flex: 1 1 40rem;
    text-align: center;
}

.hero-intro p {
    padding: 5rem 9rem;
    color: var(--grey-text);
}

.hero-intro h2 {
    padding-top: 3rem;
}

.hero-intro a {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
    transition: all .4s ease-in-out;
}

.hero-intro a:hover {
    background: black;
    color: white;
    border-radius: 20px;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.hero-elena {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
    animation: plantIntro 1.5s ease-in-out,
    plantShake 2.5s infinite ease-in-out alternate-reverse 2s;
    transform-origin: bottom;
    max-height: 80%;
}

.plant2 {
    left: 40%;
}

.burger,
.menu-check {
    display: none;
}

/*Sessão About*/

.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    flex: 2 1 40rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: var(--background-color);
    color: white;
}

.about-text div {
    padding: 3rem 8rem;
}

.about-text h3 {
    padding: 2rem 0;
    font-family: "Ruhl Medium";
}

.about-text h2 {
    font-family: "Vibes";
    padding: 4rem;
}

.about-image {
    flex: 1 1 40rem;
    position: relative;
}

.about-image h5 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    letter-spacing: 2rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Gallely*/

.gallery {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery1 {
    grid-column: 1/3;
}

.gallery2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.gallery-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: var(--background-color);
    padding: 5rem 10rem;
    text-align: center;
    opacity: .8;
    transition: all .3s ease-in-out;
}

.gallery-header:hover {
    border-radius: 4rem;
    opacity: 1;
}

.gallery-header h2 {
    letter-spacing: 1.5rem;
    text-transform: uppercase;
}

/*Sessão Contact*/ 

.contact {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.contact img {
    flex: 1 1 40rem;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 3 1 40rem;
}

.form-wrapper h2 {
    margin: 5rem 0;
}

.form-wrapper span {
    font-size: var(--big);
    color: var(--special-color);
}

.form-wrapper label {
    display: block;
}

.form-wrapper input {
    display: block;
    margin: 3rem 0;
    background: var(--background-color);
    color: white;
    border: none;
    padding: 1rem;
}

.form-wrapper button {
    padding: 1rem 8rem;
    background: var(--special-color);
    color: white;
    border: none;
    width: 100%;
}

/* Footer Section*/

footer {
    background: var(--background-color);
    color: white;
    display: flex;
    padding: 3rem 5%;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    flex: 4 1 40rem;
    justify-content: space-between;
    align-items: center;
}

footer h4 {
    flex:  1 1 40rem;
    font-size: calc(1.5rem + 1vw);
}


/*Animações*/

@keyframes opening {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes plantIntro {
    from {
        transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    }
    to {
        transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
    }
}

@keyframes plantShake {
    from{
        transform: rotateZ(5deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

/*Media Queries*/

@media screen and (max-width: 1000px) {

    .hero {
        width: 100%;
    }

    .hero-intro p {
        padding: 5rem 3rem;
    }

    /*BURGER*/

    .hero-intro {
        padding: 1rem 0 7rem 0;
    }


    .burger {
        position: relative;
        display: block;
    }

    .burger span {
        padding: .2rem 2rem;
        background: var(--grey-text);
        margin: .5rem 0rem;
        display: block;
        transition: all .5s ease-in-out;
    }

    .nav-links a {
        color: white;
        font-size: var(--header3);
        text-decoration: underline;
    }

    .nav-links {
        background: var(--background-color);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease-in-out;
    }

    .nav-open {
        transform: translate(-100%);
    }

    .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: white;
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: white;
    }

    /*Sessão About*/

    .about-text div {
        padding: 3rem;
    }

    /*Gallery*/

    .gallery img {
        grid-row: auto;
        grid-column: auto;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .gallery-header {
        display: none;
    }

    /*Contact and Footer*/

    .contact img {
        display: none;
    }

    footer h4 {
        text-align: center;
        padding: 1rem;
    }
}

@media screen and (min-width: 1700px) {
    html {
        --header1: 3rem;
        --header2: 5rem;
        --header3: 4rem;
        --header4: 2.5rem;
        --text: 3rem;
        --big: 6rem;
    }
}